* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header {
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 2;
}

body {
    position: relative;
    background-color: #ebebeb;
}



/*Animated logo styling*/

.logo-container {
    width: 100vw;
    overflow-y: hidden;
}

.logo-background {
    position: absolute;
    width: 100%;
    z-index: 0;
    object-fit: fill;
}

.logo-mask {
    position: absolute;
    width: 100%;
    z-index: 1;
}



/*Menù navigation bar*/

nav {
    display: flex;
    justify-content: center;
}
ul {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    background-color: white;
    border-radius: 50px;
    background: #ebebeb;
    box-shadow:  15px 15px 20px #c8c8c8,
                 inset 5px 5px 30px #ffffff,
                 inset -5px -5px 30px #c8c8c8;;
    z-index: 1;
}

li {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #c8c8c8;
}

li:hover {
    background-color: #c8c8c8;
}



/*Menù container card*/

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu div {
    margin-top: 15px;
    width: 85vw;
    background-color: white;
    height: 200vh;
    border-radius: 30px;
    z-index: 0;
}